*{
  margin: 0;
  padding: 0;
  border: border-box;
}
html{
  overflow-x: hidden;
}
body {
  background: linear-gradient(90deg, #18133d 0%, #171435 50%, #101028 100%);
  color: white;
}
.Main-Body-Container{
  margin-left: 30px;
  margin-right: 30px;
}
html, body {
  height: 100%;
  scroll-behavior: auto; /* disable default smooth scroll */
}

body {
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #001f3f;
}

::-webkit-scrollbar-thumb {
  background-color: #00bfff;
  border-radius: 10px;
  border: 2px solid #001f3f;
}



