.Title-Container p{
    margin-top: 10px;
    word-spacing: 4px;
}
.Contact-Container{
    padding: 0% 10% 10% 10%;
    display: flex;
}
.Contact-Container div{
    position: relative;
    right: 5px;
}
.A2{
    min-width: 1500px;
    flex-shrink: 0;
    left: -45%;
    top: -150px;
}
.Contact-Container input,.Contact-Container textarea{
    background: rgba(255, 255, 255, 0.16);
    border: 0;
    width: 360px;
    padding: 5%;
    border-radius: 15px;
    margin-top: 5%;
    font-size: large;
}
.Input-Container button{
    background: #8B5CF6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A855F7, #3B82F6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A855F7, #3B82F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    margin-top: 20px;
    width: 93%;
    position: relative;
    left: 13px;
    border-radius: 20px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: x-large;
}
.send{
    margin-right: 3%;
}
textarea{
    height: 100px;
}

.Contact-Title{
    font-size: xx-large;
    background: #8B5CF6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A855F7, #3B82F6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A855F7, #3B82F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bolder;
}
.Input-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    margin-top: 15%;
    border: 0.1px solid gray;
    position: relative;
    left: 13px;
}
.Card{
    color: white;
    margin-top: 12%;
    border-radius: 4%;
    background: rgba(255, 255, 255, 0.16);
    height: 340px;
    position: relative;
    left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}
.parent .a1:hover{
    background-color: rgb(0, 98, 255);
    transition: background-color 0.4s ease-in;
}
.parent .a2:hover{
    background-color: rgb(255, 0, 136);
    transition: background-color 0.4s ease-in;
}
.parent .a3:hover{
    background-color: rgb(0, 98, 255);
    transition: background-color 0.4s ease-in;
}
.parent .a4:hover{
    background-color: rgb(49, 24, 24);
    transition: background-color 0.4s ease-in;
}


.parent a {
    text-decoration: none;
    border: 0px solid red;
    color: white;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.064);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}
.Child2{
    margin-top: 6%;
    display: flex;
    gap: 20px;
    width: 370px;
}
.Child3{
    margin-top: 6%;
}
.Child1{
    margin-top: 6%;
}
.SpotlightCard{
    position: relative;
    z-index: 100;
}

