.NavBar-ListItems-container li{
    list-style-type: none;
    display: inline;
    font-size: larger;
}
.NavBar-ListItems-container button{
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;

}
.NavBar-ListItems-container button:hover{
    background: #8B5CF6;
    background: -webkit-linear-gradient(to right, #A855F7, #3B82F6);
    background: linear-gradient(to right, #A855F7, #3B82F6);
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.NavBar-ListItems-container{
    display: flex;
    min-width: 750px;
    justify-content: space-evenly;
}
.profile-icon{
    margin-left: 20px;
    cursor: pointer;
}
.NavBar-Container{
    width: 97.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.Fixed-NavBar{
    top: 0;                        
    left: 0;                       
    z-index: 999; 
    position: fixed;
}
.darkmode{
    margin-right: 40px;
    cursor: pointer;
}





/* Bellow the code is imported from https://glass3d.dev/ */
.glass3d {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* border-radius: 20px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.2),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
    z-index: 4;
}

.glass3d::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    transition: left 0.5s;
    pointer-events: none;
    /* border-radius: inherit; */
    z-index: 3;
}

.glass3d:hover::before {
    left: 100%;
}

.glass3d > * {
    position: relative;
    z-index: 6;
}

footer{
  display: flex;
  justify-content: center;
  padding: 1%;
  background: transparent;
  border-top: 0.3px solid rgba(255, 255, 255, 0.2);
}


.style-text{
    background: #8B5CF6 !important;
    background: -webkit-linear-gradient(to right, #A855F7, #3B82F6) !important;
    background: linear-gradient(to right, #A855F7, #3B82F6) !important;
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}